@font-face {
  font-display: swap;
  font-family: "Golden Class Serif";
  src: url("/assets/fonts/GoldenClass-Serif.eot");
  src: url("/assets/fonts/GoldenClass-Serif.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/GoldenClass-Serif.woff2") format("woff2"),
    url("/assets/fonts/GoldenClass-Serif.woff") format("woff"),
    url("/assets/fonts/GoldenClass-Serif.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Golden Class Script";
  src: url("/assets/fonts/GoldenClass-Script.eot");
  src: url("/assets/fonts/GoldenClass-Script.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/GoldenClass-Script.woff2") format("woff2"),
    url("/assets/fonts/GoldenClass-Script.woff") format("woff"),
    url("/assets/fonts/GoldenClass-Script.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Webnar";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Webnar.eot");
  src: url("/assets/fonts/Webnar.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Webnar.woff2") format("woff2"),
    url("/assets/fonts/Webnar.woff") format("woff"),
    url("/assets/fonts/Webnar.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Webnar";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/Webnar-Italic.eot");
  src: url("/assets/fonts/Webnar-Italic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Webnar-Italic.woff2") format("woff2"),
    url("/assets/fonts/Webnar-Italic.woff") format("woff"),
    url("/assets/fonts/Webnar-Italic.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Webnar";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/Webnar-Bold.eot");
  src: url("/assets/fonts/Webnar-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Webnar-Bold.woff2") format("woff2"),
    url("/assets/fonts/Webnar-Bold.woff") format("woff"),
    url("/assets/fonts/Webnar-Bold.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Webnar";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/Webnar-Bold-Italic.eot");
  src: url("/assets/fonts/Webnar-Bold-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Webnar-Bold-Italic.woff2") format("woff2"),
    url("/assets/fonts/Webnar-Bold-Italic.woff") format("woff"),
    url("/assets/fonts/Webnar-Bold-Italic.ttf") format("truetype");
}
